//
// Breadcrumbs
// --------------------------------------------------


.breadcrumb {
	margin-bottom: $line-height-computed;
	list-style: none;
	background-color: $breadcrumb-bg;
	> li {
		padding:  5px 0;
		color: $breadcrumb-color;
		display: inline-block;
		:first-child {
			margin-left: 10px;
		}
		+ li:before {
			content: "#{$breadcrumb-separator}\00a0"; // Unicode space added since inline-block means non-collapsing white-space
			padding: 0 10px;
			color: $breadcrumb-color;
		}
		a {
			color: $breadcrumb-color;
		}
	}
	> .active {
		
	}
}
 