*.log
*.mo
*.pyc
.*.swp
.DS_Store
.git
.idea/
.ropeproject/
.sass-cache/
.vagrant/
.venv/
.vscode/
__pycache__/

/backup/
/devday/media
/devday/static
/media/
/public

docker-compose*.yml
node_modules/
prod-env*
vault-*.json
README.md
README.prod.md
docker/vault/openssl.cnf
docker/vault/vault.csr.pem
