.DS_Store
*.mo
*.pyc
.*.swp

.idea/
.ropeproject/
.sass-cache/
.vagrant/
.venv/
.vscode/
__pycache__/
node_modules/

/backup/
/devday/devday.log
/media/

# static files that get uploaded independently from this repo
/devday/devday/static/admin/
/devday/devday/static/ajaxuploader/
/devday/devday/static/cms/
/devday/devday/static/djangocms_admin_style/
/devday/devday/static/djangocms_googlemap/
/devday/devday/static/djangocms_text_ckeditor/
/devday/devday/static/preview_images/
/devday/devday/static/schedule_static.xml
/devday/devday/static/sortedm2m/
/devday/devday/static/treebeard/
/docker/vault/config/ssl
/prod-env*
vault-cluster-*.json
docker/app/vault.crt
vault-*.json
