[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<2.1"
django-cms = ">3.5"
requests = "*"
psycopg2-binary = "<2.8"
python-magic = "*"
pillow = "*"
django-crispy-forms = "*"
djangocms-admin-style = "*"
djangocms-link = "*"
djangocms-video = "*"
djangocms-picture = "*"
djangocms-style = "*"
djangocms-attributes-field = "*"
django-model-utils = "*"
djangocms-text-ckeditor = "*"
djangocms-column = "*"
djangocms-file = "*"
django-ckeditor = "*"
django-file-form = "*"
django-registration = "*"
"django-select2" = "<7"
beautifulsoup4 = "*"
"html2text" = "*"
lorem = "*"
luhn = "*"
lxml = "*"
stringcase = "*"
django-ordered-model = "<3.0"
django-formtools = "*"
django-postgres-extra = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
django-debug-toolbar = "*"
dj-inmemorystorage = "*"
mock = "*"
pip = "==18.0"

[requires]
python_version = "3.7"
