[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "<3"
django-cms = "<3.9"
requests = "*"
psycopg2-binary = "<2.9"
python-magic = "*"
pillow = "*"
django-crispy-forms = "*"
djangocms-admin-style = "*"
djangocms-link = "*"
djangocms-video = "*"
djangocms-picture = "*"
djangocms-style = "*"
djangocms-attributes-field = "*"
django-model-utils = "*"
djangocms-text-ckeditor = "*"
djangocms-file = "*"
django-ckeditor = "*"
django-file-form = "*"
django-registration = "*"
django-select2 = "*"
beautifulsoup4 = "*"
html2text = "*"
lorem = "*"
luhn = "*"
lxml = "*"
stringcase = "*"
django-ordered-model = "*"
django-formtools = "*"
django-postgres-extra = "*"
djangorestframework = "*"
djangocms-column = "*"
django-treebeard = "<4.5"
django-debug-toolbar = "*"
apscheduler = "*"
"backports.zoneinfo" = "*"

[dev-packages]
coverage = "*"
coveralls = "*"
dj-inmemorystorage = "*"
mock = "*"
pip = "==18.0"
