[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = ">3.5"
requests = "*"
"psycopg2-binary" = "*"
python-magic = "*"
pillow = "*"
django-crispy-forms = "*"
djangocms-admin-style = "*"
djangocms-link = "*"
djangocms-teaser = "*"
djangocms-video = "*"
djangocms-picture = "*"
djangocms-style = "*"
djangocms-attributes-field = "*"
django-model-utils = "*"
djangocms-text-ckeditor = "*"
djangocms-column = "*"
djangocms-file = "*"
django-file-form = "*"
django-registration = "*"
"django-select2" = "*"
lorem = "*"
luhn = "*"

[dev-packages]
beautifulsoup4 = "*"
coverage = "*"
coveralls = "*"
django-debug-toolbar = "*"
dj-inmemorystorage = "*"
lxml = "*"
mock = "*"
pip = "==18.0"

[requires]
python_version = "3.6"
