{% load i18n %}
<script type="text/template" id="qq-template">
    <div class="qq-uploader-selector qq-uploader">
        <ul class="qq-upload-list-selector qq-upload-list">
            <li>
                <div class="qq-progress-bar-container-selector">
                    <div class="qq-progress-bar-selector qq-progress-bar"></div>
                </div>
                <span class="qq-upload-spinner-selector qq-upload-spinner"></span>
                <span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
                <span class="qq-upload-file-selector qq-upload-file"></span>
                <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
                <a class="qq-upload-cancel-selector qq-upload-cancel" href="#">{% trans "Cancel" %}</a>
                <a class="qq-upload-retry-selector qq-upload-retry" href="#">{% trans "Retry" %}</a>
                <a class="qq-upload-delete-selector qq-upload-delete" href="#"></a>
                <span class="qq-upload-status-text-selector qq-upload-status-text"></span>
            </li>
        </ul>
        <div class="qq-upload-button-selector qq-upload-button">
            <div class="btn btn-default btn-file">{% trans "Choose Image" %}</div>
        </div>
    </div>
</script>
