{% extends "devday_site.html" %}
{% load i18n crispy_forms_tags %}
{% block title %}{{ title }}{% endblock %}
{% block content_body %}
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <h1>{% trans "Password recovery" %}</h1>
        {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            {% crispy form %}
        {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        {% endif %}
    </div>
{% endblock %}