{% load cms_tags sekizai_tags static i18n %}<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dev Day 2018 // Digital reality{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block meta_description %}Dev Day 2018{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "favicon.ico" %}">
{% addtoblock "js" %}
    <script src="{% static "js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "js/main.js" %}" type="text/javascript"></script>
{% endaddtoblock %}
    {% render_block "css" %}
    <link rel="stylesheet" href="{% static "css/style.css" %}">
</head>
<body class="{% block body_classes %}site-template{% endblock %}">
    {% cms_toolbar %}
    {% block navigation %}
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" data-ui-navbar>
            <div class="container">
                <a href="{% url "pages-root" %}" class="navbar-brand"><img src="{% static "images/logo-2018.png" %}" alt="Dev Day 2018"></a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% include "base_menu.html" %}
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock navigation %}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto call-to-action">
                    <span class="date">24. April 2019</span>
                    <span class="venue">Messe Dresden</span>
                </div>
            </div>
        </div>
    </header>

    {% block promo_content %}
                        {% if talk_submission_open %}
                            {% static_placeholder "call-for-papers-date" %}
                        {% else %}
                            {% static_placeholder "event-date" %}
                        {% endif %}
                    {% endblock %}

    {% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 info-area" id="info-area">
            {% block content_body %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    <div class="row social-area">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1  center">
            <ul>
                {% if facebook_url %}<li><a href="{{ facebook_url }}"><img src="{% static "images/facebook.png" %}" alt="Facebook"></a></li>{% endif %}
                {% if xing_url %}<li><a href="{{ xing_url }}"><img src="{% static "images/xing.png" %}" alt="Xing"></a></li>{% endif %}
                {% if twitter_url %}<li><a href="{{ twitter_url }}"><img src="{% static "images/twitter.png" %}" alt="Twitter"></a></li>{% endif %}
            </ul>
        </div>
    </div>
    <footer>
        <img src="{% static "images/seco-logo.svg" alt="Software Engineering Community" %}"> | <a href="{% url "imprint" %}">IMPRESSUM</a>
    </footer>
    {% render_block "js" %}
</body>
</html>
