{% load cms_tags sekizai_tags static i18n %}<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% if event %}{{ event.title }}{% if event.slogan %} // {{ event.slogan }}{% endif %}{% else %}{{ current_event.title }}{% if current_event.slogan %} // {{ current_event.slogan }}{% endif %}{% endif %}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{% block meta_description %}{{ event.title }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'favicon.ico' %}">
{% addtoblock "js" %}
    <script src="{% static 'js/main.js' %}" type="text/javascript"></script>
{% endaddtoblock %}
    {% render_block "css" %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body class="{% block body_classes %}site-template{% endblock %}">
    {% cms_toolbar %}
    {% block navigation %}
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" data-ui-navbar>
            <div class="container">
                <a href="{% url 'pages-root' %}" class="navbar-brand"><img src="{% static "img/logo-19.svg" %}" alt="{{ current_event.title }}"></a>
                {% block top_menu %}
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      {% include "base_menu.html" %}
                    </ul>
                </div>
                {% endblock %}
            </div>
        </nav>
    {% endblock navigation %}

    <header class="masthead text-center text-white d-flex">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto call-to-action">
                    <span class="date">{{ current_event.start_time|date:"d. E Y" }}</span>
                    <span class="venue">{{ current_event.location }}</span>
                </div>
            </div>
        </div>
    </header>

    {% block content_block_1 %}
    <div class="stripe c-white">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="card-deck sponsor-deck mb-3 text-center">
                        <div class="card mb-4 box-shadow">
                        <div class="card-header bronze">
                            <h4 class="my-0 font-weight-normal">Bronze</h4>
                            <h1 class="card-title pricing-card-title">500 €</h1>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-0 mb-0">
                                <li>
                                    <span class="list-header">Logopräsenz</span>
                                    <ul>
                                        <li>Website</li>
                                        <li>Flyer</li>
                                        <li>Plakate</li>
                                    </ul>

                                </li>
                                <li>
                                    <span class="list-header">
                                        Erwähnung als Sponsor in der Eröffnung
                                    </span>
                                </li>
                                <li>
                                    <span class="list-header">
                                        Vorstellung in Social-Media-Kanälen
                                    </span>
                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="card mb-4 box-shadow">
                        <div class="card-header silver">
                            <h4 class="my-0 font-weight-normal ">Silber</h4>
                            <h1 class="card-title pricing-card-title">1000 €</h1>
                        </div>
                        <div class="card-body">

                            <ul class="list-unstyled mt-0 mb-0">
                                <li>
                                    <span class="list-header">Logopräsenz</span>
                                    <ul>
                                        <li>Website</li>
                                        <li>Flyer</li>
                                        <li>Plakate</li>
                                        <li>Logo im Aftermovie</li>
                                    </ul>

                                </li>
                                <li>
                                    <span class="list-header">
                                        Erwähnung als Sponsor in der Eröffnung
                                    </span>
                                </li>
                                <li>
                                    <span class="list-header">
                                        Vorstellung in Social-Media-Kanälen
                                    </span>
                                </li>
                                <li>
                                    <span class="list-header">Präsenz vor Ort</span>
                                    <ul>
                                        <li>Werbemittel dürfen ausgelegt werden</li>
                                        <li>Aufsteller darf mit ausgestellt werden</li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                        </div>
                        <div class="card mb-4 box-shadow">
                        <div class="card-header gold">
                            <h4 class="my-0 font-weight-normal">Gold</h4>
                            <h1 class="card-title pricing-card-title">1500 €</h1>
                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-0 mb-0">
                                <li>
                                    <span class="list-header">Logopräsenz</span>
                                    <ul>
                                        <li>Website</li>
                                        <li>Flyer</li>
                                        <li>Plakate</li>
                                        <li>Logo im Aftermovie</li>
                                    </ul>

                                </li>
                                <li>
                                    <span class="list-header">
                                        Erwähnung als Sponsor in der Eröffnung
                                    </span>
                                </li>
                                <li>
                                    <span class="list-header">
                                        Vorstellung in Social-Media-Kanälen
                                    </span>
                                </li>
                                <li>
                                    <span class="list-header">Präsenz vor Ort</span>
                                    <ul>
                                        <li>Werbemittel dürfen ausgelegt werden</li>
                                        <li>Stand mit maximal 2 Firmenvertretern</li>
                                    </ul>

                                </li>
                            </ul>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 col-lg-9 order-2 order-lg-1{% block content_box_1_wrapper_classes %} col-center{% endblock %} info">
                    <div class="content-center">{% block content_box_1 %}override block content_box_1{% endblock %}</div>
                </div>
                <div class="col-12 col-lg-3  order-1 order-lg-2{% block content_box_2_wrapper_classes %} col-center{% endblock %} col-highlight">
                    {% block content_box_2_wrapper %}<div class="content-center">{% block content_box_2 %}override block content_box_2{% endblock %}</div>{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% endblock content_block_1 %}

    {% block content_block_2 %}
    <div class="stripe c-base">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-9 col-center{% block container_class_3 %}{% endblock %}">
                    <div class="content-center{% block content_class_3 %}{% endblock %}">{% block content_box_3 %}override block content_box_3{% endblock %}</div>
                </div>
                <div class="col-12 col-lg-3 col-center col-white">
                    <div class="content-center">{% block content_box_4 %}override block content_box_4{% endblock %}</div>
                </div>
            </div>
        </div>
    </div>
    {% endblock content_block_2 %}

    {% block content_block_3 %}
    {% if sponsoring_open or has_change_permissions %}
    <div class="stripe c-gray{% if not sponsoring_open %} visible-to-editor-only{% endif %}">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-lg-9 order-2 order-lg-1">
                    <div class="row sponsor">{% static_placeholder "sponsors" %}</div>
                </div>
                {% block content_block_sponsoring_link %}
                {% page_url 'sponsoring' as sponsoring_page %}
                <div class="col-12 col-lg-3  order-1 order-lg-2 col-center col-base">
                    <div class="content-center">
                        {% if request.path != sponsoring_page %}
                        <p>Wollen Sie Sponsoringpartner werden? Schauen Sie sich unsere Sponsoring Optionen an.</p>
                        <a href="{{ sponsoring_page }}" class="btn btn-outline btn-call-action m-t-1">Jetzt Sponsor werden</a>
                        {% endif %}
                    </div>
                </div>
                {% endblock content_block_sponsoring_link %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endblock %}

    <footer>
        <img src="{% static 'images/seco-logo.svg' %}" alt="Software Engineering Community"> | <a href="{% page_url 'imprint' %}">IMPRESSUM</a>
    </footer>
    <div class="modal fade" tabindex="-1" role="dialog" id="imageModal" aria-labelledby="imageModal" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"></h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>

            </div>
        </div>
    </div>

    {% render_block "js" %}
</body>
</html>
