{% extends "base.html" %}
{% load cms_tags static sekizai_tags i18n %}
{% block body_classes %}dd-2018{% endblock %}
{% block title %}{{ block.super }} - {% page_attribute "page_title" %}{% endblock %}
{% block description %}{% page_attribute "meta_description" as meta_description %}{% if meta_description %}{{ meta_description }}{% else %}{% endif %}{% endblock %}
{% block promo_classes %}row promo{% endblock %}
{% block promo_content %}
    {% if attendee_registration_open %}
        <a class="btn" href="{% url "login_or_register_attendee" %}" role="button">{% trans "Sign up now - Be part of it!" %}</a><br>
    {% endif %}
    {% if talk_submission_open %}
        <a class="btn" href="{% url "submit_session" %}" role="button">{% trans "Submit session" %}</a>
    {% endif %}
{% endblock %}
{% block read_more %}
<a href="#info-area" class="read-more"><span></span>{% trans "more info" %}</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 info-area" id="info-area">
            <div class="col-xs-12 col-sm-6 boxed-content">
                <i class="icon-rocket"></i>
                {% placeholder "eventinfo" %}
                {% if talk_submission_open %}
                    <a class="btn" href="{% url "submit_session" %}" style="position:relative; left:50%; transform:translate(-50%,0); margin:25px 0;" role="button">{% trans "Submit session" %}</a>
                {% endif %}
                <a class="btn" href="https://lineupr.com/seco/dev-day-2018" style="position:relative; left:50%; transform:translate(-50%,0); margin:25px 0;" role="button">{% trans "Our event on your mobile in the webapp" %}</a>
            </div>
            <div class="col-xs-12 col-sm-6 boxed-content">
                <i class="icon-user"></i>
                {% placeholder "audience" %}
                {% if attendee_registration_open %}
                    <a href="{% url 'login_or_register_attendee' %}" class="btn" style="position:relative; left:50%; transform:translate(-50%,0); margin:25px 0;" role="button">{% trans "I want to be part of it!" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% if twitter_feed %}
        <div class="row twitter-row">
            <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 twitter-area" id="twitter-area">
                <div class="col-sm-4 follow-box">
                    <i class="icon-social-twitter"></i>
                    <h3>#DEVDAYDD</h3>
                    <a href="{{ twitter_url }}" class="btn btn-line">{% trans "Follow us!" %}</a>
                </div>
                <div class="col-sm-8 tweet-box">
                    <div id="twitterCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <div class="carousel-inner" role="listbox">
                            {% for tweet in twitter_feed %}
                            <div class="item{% if forloop.first %} active{% endif %}">
                                <div class="user-row">
                                    <img src="{{ tweet.user_profile_image.image_data.url }}" alt="" >
                                    <span class="name">{{ tweet.user_name }}</span>
                                    <span class="username"><a href="https://twitter.com/{{ tweet.user_screen_name }}">@{{ tweet.user_screen_name }}</a></span>
                                </div>
                                <div class="tweet">{{ tweet.text|safe }}</div>
                            </div>
                            {% endfor %}
                        </div>
                        <a class="left carousel-control" href="#twitterCarousel" role="button" data-slide="prev"><span class="icon icon-arrow-left" aria-hidden="true"></span></a>
                        <a class="right carousel-control" href="#twitterCarousel" role="button" data-slide="next"><span class="icon icon-arrow-right" aria-hidden="true"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 sponsors-area center" id="sponsors-area">{% placeholder "sponsors" %}</div>
        </div>
    {% endif %}
    <div class="row session-entry-area">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1">
        {% if talk_submission_open %}
            <h2>Jetzt noch schnell eine Session einreichen</h2>
            <a href="{% url "submit_session" %}" class="btn">Session einreichen</a>
        {% else %}
            {% placeholder 'submission_closed_thanks' %}
        {% endif %}
        </div>
    </div>
{% endblock %}
