{% extends "base.html" %}
{% load cms_tags static i18n %}
{% block body_classes %}{% endblock %}
{% block title %}{% page_attribute "page_title" %}{% endblock %}
{% block description %}DevDay 2017{% endblock %}
{% block promo_classes %}row promo{% endblock %}
{% block promo_content %}{{ block.super }}
    <a class="btn" type="text" href="{% url "submit_session" %}">Session einreichen</a>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 info-area" id="info-area">
            <div class="col-xs-12 col-sm-6 boxed-content">
                <i class="icon-rocket"></i>
                {% placeholder "eventinfo" %}
            </div>
            <div class="col-xs-12 col-sm-6 boxed-content">
                <i class="icon-user"></i>
                {% placeholder "audience" %}
                <a href="{% url "registration_register" %}" class="btn" style="position:relative; left:50%; transform:translate(-50%,0); margin:25px 0;" role="button">Ich will dabei sein!</a>
            </div>
        </div>
    </div>{% comment %}
    <div class="row twitter-row">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 twitter-area" id="twitter-area">
            <div class="col-sm-4 follow-box">
                <i class="icon-social-twitter"></i>
                <h3>#DEVDAYDD</h3>
                <a href="#" class="btn btn-line">Folge uns</a>
            </div>
            <div class="col-sm-8 tweet-box">
                <div id="twitterCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <div class="user-row">
                                <img src="https://pbs.twimg.com/profile_images/731049878856601600/OrntgI1F_bigger.jpg" alt="" >
                                <span class="name">Lorem Ipsum</span>
                                <span class="username"><a href="#">@blablubb</a></span>
                            </div>
                            <div class="tweet">
                                Lorem ipsum dolor sit amet, <a href="#">#consectetur</a> adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                        </div>
                        <div class="item">
                            <div class="user-row">
                                <img src="https://pbs.twimg.com/profile_images/731049878856601600/OrntgI1F_bigger.jpg" alt="" >
                                <span class="name">Lorem Ipsum</span>
                                <span class="username"><a href="#">@blablubb</a></span>
                            </div>
                            <div class="tweet">
                                Lorem ipsum dolor sit amet, <a href="#">#consectetur</a> adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
                            </div>
                        </div>
                    </div>
                    <a class="left carousel-control" href="#twitterCarousel" role="button" data-slide="prev"><span class="icon icon-arrow-left" aria-hidden="true"></span></a>
                    <a class="right carousel-control" href="#twitterCarousel" role="button" data-slide="next"><span class="icon icon-arrow-right" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 sponsors-area center" id="sponsors-area">{% placeholder "sponsors" %}</div>
    </div>{% endcomment %}
    <div class="row session-entry-area">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1">
            <h2>Jetzt noch schnell eine Session einreichen</h2>
            <a href="{% url "submit_session" %}" class="btn">Session einreichen</a>
        </div>
    </div>
{% endblock %}