<div id="carouselTweets" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for tweet in twitter_feed %}
        <div class="carousel-item{% if forloop.first %} active{% endif %}">
            <div class="user-row">
                <img src="{{ tweet.user_profile_image.image_data.url }}" alt="">
                <span class="name">{{ tweet.user_name }}</span>
                <span class="username"><a href="https://twitter.com/{{ tweet.user_screen_name }}">@{{ tweet.user_screen_name }}</a></span>
            </div>
            <div class="tweet">{{ tweet.text|safe }}</div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselTweets" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselTweets" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
