body {
    font-family: 'Source Sans Pro';
}

.content-center {
    width: 100%;
}

.content-area {
    padding-top: 1.5rem;
}

@include media-breakpoint-down(lg) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}
