.card:not(.talk-card) {
    position: relative;
    padding-top: 110px;
    margin-top: 100px;

    img {
        position: absolute;
        top: -100px;
        border-radius: 50%;
        box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
        width: 200px;
        height: 200px;
        left: 50%;
        transform: translateX(-50%)
    }

    .carb-body {
        text-align: center;
    }
}