

.stripe {
    width: 100%;

    &.c-base {
        background: $base-v2;

        color: $white;
    }

    &.c-gray {
        background: $gray-bright;
    }
}

.col-center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    text-align:  center;
    padding-top: 15px;
    padding-bottom: 15px;

    > .row {
        width: 100%;
    }
}

.col-start {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    text-align:  center;
    padding-top: 15px;
    padding-bottom: 15px;

    > .row {
        width: 100%;
    }
}

.col-highlight {
    background: $highlight;

    color: $white;
}

.col-white {
    background: $white;

    color: $highlight;
}

.col-base {
    background: $base-v2;

    color: $white;
}
