header {
    background: $base;
    background: url('../img/eyecatcher.svg'), linear-gradient(-29deg, #373D7A 0%, #2B2E4C 52%, #22232C 98%, #22232C 100%);

    padding-top: 7rem;
    padding-bottom: calc(7rem - 56px);
    background-size: 125%;
    background-position: 50% 80%;

    .homepage & {
        padding-top: 14rem;
        padding-bottom: calc(14rem - 56px);
    }
}



