.info,
.content-area {
    color: $onyx;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &.col-center {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

    h1 {
        color: $base;
        margin-bottom: 1rem;
    }

    img {
        max-width: 100%;

        &.align-center {
            margin: 0 auto;
            display: block;
        }
    }

}

.col-highlight {
    &.col-start {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: left;
    }

}
