.talk-details {
    .talk-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        background: $silver-gray;

        margin-bottom: 1.5rem;

        .year {
            display: inline;
            position: relative;

            padding: 13px 16px;

            background: $highlight-darker;

            color: $white;

            margin-right: 38px;

            &::after {
                position: absolute;

                width: 0;
                height: 0;

                content: '';
                border-top: 25px solid transparent;
                border-bottom: 25px solid transparent;
                border-left: 25px solid $highlight-darker;
                right: -25px;
                top: 0;
            }

            &.archive {
                background: $gray;

                &::after {
                    border-left-color: $gray;
                }
            }
        }

        .talk-name {
            margin: 0;
            padding: 8px 0;
        }
    }

    .card {
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 1.5rem;
        border: 1px solid $silver-gray;

        .card-header {
            border-bottom: 1px solid $silver-gray;
            background: $silver-gray;
            color: $base;

            i {
                margin-right: 15px;
            }
        }

        .card-body {
            text-align: center;

            iframe {
                margin: 0 auto;
            }
        }
    }
}

.speaker-datails {
    .speaker-name {
        font-size: 30px;
        margin-top: 8px;
        margin-bottom: 34px;

        a {
            color: $white;
        }
    }

    .speaker-image {
        img {
            max-width: 250px;
        }
    }
}

@include media-breakpoint-down(sm) {
    .talk-details {
        .talk-title {
            display: flex;
            flex-direction: column;
            align-items: baseline;

            .talk-name {
                padding: 8px 15px;
            }
        }
    }
}