.twitter-area {
    color: $white;

    .tweet-box {
        padding: 0;
        text-align: left;


        .carousel {
            min-height: 235px;
            display: flex;
            align-items: center;

            .carousel-inner {
                padding: 0 50px;
            }

            .carousel-control-prev,
            .carousel-control-next {
                width: 30px;
            }
        }

        .user-row {
            display: block;
            float: none;
            clear: both;

            height: 73px;
            margin-bottom: 12px;
            width: 100%;

            img {
                float: left;

                margin-right: 22px;
                width: 60px;
                height: 60px;

                border-radius: 50%;
            }

            .name {
                font-size: 24px;

                display: block;
            }

            .username {

                a {
                    font-size: 18px;
                    color: $highlight;
                }
            }
        }

        .tweet {
            font-size: 18px;
            width: 100%;

            a {
                color: $highlight;
            }
        }
    }
}