p {
    font-size: 14px;
}

h1 {
    font-size: 30px;
    color: $base;
    margin-bottom: 1rem;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}