$highlight: #35a4a3;
$base: #171034;
$base-v2: #2A2D49;
$base-v3: #171034;
$white: #ffffff;
$promogradient-bright: #3a3f69;
$promogradient-dark: #272c59;
$onyx: #0E0E0E;
$gray: #545454;
$gray-light: #c7c7c7;
$red: #b43737;
$gray-bright: #F6F6F6;
$highlight-dark: #488483;
$highlight-darker: #3f8b89;
$black: #000000;
$black-20: rgba(0, 0, 0, 0.2);
$black-50: rgba(0, 0, 0, 0.5);
$white-20: rgba(255, 255, 255, 0.2);
$black-80: rgba(0, 0, 0, 0.8);

$track-1: $highlight;
$track-2: #720f29;
$track-3: #ddbea8;
$track-4: #58355e;
$track-5: #ffbd23;
$track-6: #28d0d0;
$track-7: #578265;
$track-8: $base;

$bronze: #cd7f32;
$silver: #838383;
$gold: rgb(206, 175, 1);
// Options
$enable-flex: true !default;
$enable-gradients: true !default;

// Grid breakpoints
$grid-breakpoints: (
    xs: 0,      // Extra small screen / phone
    sm: 720px,  // Small screen / phone
    md: 996px,  // Medium screen / tablet
    lg: 1280px, // Large screen / desktop
    xl: 1600px  // Extra large screen / wide desktop
) !default;

// Grid containers
$container-max-widths: (
    sm: 719px, // 719px = 44.9375
    md: 996px,   // 996px = 62.25rem
    lg: 1279px, // 1279px = 79.9375rem
    xl: 1600px      // 1600px = 100rem
) !default;

// Grid columns
$grid-columns: 12 !default;
$grid-gutter-width: 24px !default; // 24px

//$simple-line-font-path: './assets/fonts/' !default;
//
$gray-lighter: rgba($black, 0.12) !default;
$gray-light: rgba($black, 0.26) !default;
$gray: rgba($black, 0.54) !default; // spec color
$gray-dark: rgba($black, 0.87) !default;   // used for text color - others use grey-600 which is considerably lighter

// Forms

// Shadows
$shadow-color-0: rgba($black, 0);
$shadow-color-1: rgba($black, 0.2);
$shadow-color-2: rgba($black, 0.12);
$shadow-color-3: rgba($black, 0.14);

$shadow-inset: inset 0 2px 2px 0 $shadow-color-3;
$shadow-0: 0 0 1px $shadow-color-0;
$shadow-2: 0 2px 2px 0 $shadow-color-3, 0 3px 1px -2px $shadow-color-1, 0 1px 5px 0 $shadow-color-2;
$shadow-3: 0 3px 4px 0 $shadow-color-3, 0 3px 3px -2px $shadow-color-1, 0 1px 8px 0 $shadow-color-2;
$shadow-4: 0 4px 5px 0 $shadow-color-3, 0 1px 10px 0 $shadow-color-2, 0 2px 4px -1px $shadow-color-1;
$shadow-6: 0 6px 10px 0 $shadow-color-3, 0 1px 18px 0 $shadow-color-2, 0 3px 5px -1px $shadow-color-1;
$shadow-8: 0 8px 10px 1px $shadow-color-3, 0 3px 14px 2px $shadow-color-2, 0 5px 5px -3px $shadow-color-1;

// Font Sizes
$mf-font-size: 2rem !default;
$mf-active-font-size: $mf-font-size * 0.8 !default;
$mf-active-top: -$mf-font-size !default;

// Margin & Paddings
$mf-gap: $mf-font-size * 1.5 !default;
$mf-spacer: $mf-font-size / 4 !default;
$mf-fieldset-margin: 0 0 $mf-gap * 2 !default;
$mf-checkbox-gap: $mf-font-size * 2 !default;
$mf-checkbox-top: 0 !default;
$mf-radio-margin: $mf-font-size / -4 !default;

// Colors
$mf-input-color: #333333 !default;
$mf-border-color: #bababa !default;
$mf-label-color: lighten($mf-border-color, 10%) !default;
$mf-active-color: darken($mf-border-color, 10%) !default;
$mf-focus-color: $highlight !default;
$mf-error-color: #d9534f !default;

$mf-transition-speed: 0.28s !default;

$primary: $highlight;
