{% extends "devday_site.html" %}
{% load cms_tags crispy_forms_tags i18n %}
{% block content_body %}
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 content-area">
            {% static_placeholder "register-intro" %}
        </div>
        {% if request.user.is_staff %}
            <div class="col-12 col-md-10 offset-md-1 visible-to-editor-only">
                {% static_placeholder "register-intro-anonymous" %}
                {% static_placeholder "register-attendee-introtext" %}
            </div>
        {% endif %}
    </div>
    {% if request.user.is_anonymous %}
        <div class="row">
            <div class="col-12 col-md-5 offset-md-1">
                <h2>{% blocktrans %}Register for {{ current_event }}{% endblocktrans %}</h2>
                <p>{% static_placeholder "register-intro-anonymous" %}</p>
                <p class="text-center">
                    <a class="btn btn-primary"
                       href="{% url 'attendee_registration' event=event.slug %}">{% trans "Register" %}</a>
                </p>
            </div>
            <div class="col-12 col-md-5">
                <h3>{% trans "Did you attend Dev Day last year? Use your existing credentials!" %}</h3>
                {% crispy form %}
                <p style="margin-top: 1em;">{% trans "Forgotten password?" %} <a
                        href="{% url 'auth_password_reset' %}">{% trans "Reset it!" %}</a>
                </p>
            </div>
        </div>
    {% else %}
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1">
                {% static_placeholder "register-intro-introtext-authenticated" %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 text-center">
                <a class="btn btn-primary"
                   href="{% url 'attendee_registration' event=event.slug %}">{% trans "Register" %}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
