{% extends "devday_site.html" %}
{% load i18n cms_tags crispy_forms_tags %}
{% block title %}{% trans "Attendee profile" %}{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-12 content-area">
            <h1>{% blocktrans with username=user.get_username %}User profile for {{ username }}{% endblocktrans %}</h1>
            <div class="text-justify">{% static_placeholder "gdpr_teaser" %}</div>
            {% crispy form %}
        </div>
        {% if user.speaker %}
        <div class="offset-lg-2 col-lg-8 col-12 text-justify">
            {% url 'user_speaker_profile' as speaker_profile %}
            <h3>{% trans "Speaker" %}</h3>
            <p>{% blocktrans with speaker_name=user.speaker.name %}You are registered as speaker &quot;{{ speaker_name }}&quot;. Visit your <a href="{{ speaker_profile }}">speaker details page</a> to update your speaker data.{% endblocktrans %}</p>
        </div>
        {% endif %}
        <div class="offset-lg-2 col-lg-8 col-12">
            <h3>{%  trans "Events" %}</h3>
            {% if events %}
                <p>{% blocktrans %}You are registered for these events{% endblocktrans %}</p>
                <div class="table-responsive">
                    <table class="table">
                        {% for event in events %}
                            <tr>
                                <td>{{ event.title }}</td>
                                <td>{{ event.description }}
                                    {% if event.id in reservations %}
                                        <p><strong>{% trans "Workshops / Sessions" %}:</strong>
                                        <ul class="reservations">
                                        {% for r_event_id, r_reservations in reservations.items %}
                                            {% if event.id == r_event_id %}
                                                {% for reservation in r_reservations %}
                                                    {% with talk=reservation.talk %}
                                                        {% url 'talk_details' event=talk.event.slug slug=talk.slug as talk_details %}
                                                        <a href="{{ talk_details }}">{{ talk.title }}</a>
                                                        {% if event.id == event_id %}
                                                            {% if reservation.is_confirmed or reservation.is_waiting %}
                                                                <span class="fas fa-calendar-times"></span>
                                                                <a href="{% url "talk_cancel_reservation" event=talk.event.slug slug=talk.slug %}">{% trans "Cancel reservation" %}</a>
                                                            {% else %}
                                                                <span class="fas fa-send"></span>
                                                                <a href="{% url "talk_resend_confirmation" event=talk.event.slug slug=talk.slug %}">{% trans "Resend confirmation mail" %}</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    {% endwith %}
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                        </ul>
                                        </p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if event.id == event_id and not user.get_speaker %}
                                        <p><a class="btn btn-primary float-left float-sm-right"
                                              href="{% url "attendee_cancel" event=event.id %}">{% trans "Cancel Registration" %}</a>
                                        </p>
                                    {% endif %}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <p>{% blocktrans %}You are not currently registered to participate in any event.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </div>
    {% if events and checkin_code %}
    <div class="row">
        <div class="offset-lg-2 col-lg-8 col-12 content-area">
            {% include "attendee/checkin_qrcode_include.html" %}
        </div>
    </div>
    {% endif %}
{% endblock %}
