{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{% trans "Attendee profile" %}{% endblock %}
{% block content_body %}
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <h1>{% blocktrans with username=user.get_username %}User profile for {{ username }}{% endblocktrans %}</h1>
        <dl>
            <dt>{% trans "Firstname" %}</dt>
            <dd>{{ user.first_name|default:"-" }}</dd>
            <dt>{% trans "Lastname" %}</dt>
            <dd>{{ user.last_name|default:"-" }}</dd>
        </dl>
        <p><a href="{% url "auth_password_change" %}">{% trans "Change password" %}</a></p>
    </div>
    {% for attendee in attendees %}
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <h1>{% blocktrans with event=attendee.event %}Attendee Information for {{ event }}{% endblocktrans %}</h1>
        <dl>
            <dt>{% trans "Foo" %}</dt>
            <dd>{{ attendee.contact_permission_date }}</dd>
        </dl>
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <h1>{% trans "Speaker Bio" %}</h1>
        <dl>
            <dt>{% trans "T-Shirt Size" %}</dt>
            <dd>{{ attendee.speaker.shirt_size }}</dd>
        </dl>
    </div>
    {% endfor %}
{% endblock %}
