/* --------------------------------------------------------------------------------------
+
+ BASIC STYLES
+
-------------------------------------------------------------------------------------- */

@import 'compass';
@import 'compass/reset';
@import 'variables';
@import 'mixins';

//SET VIEWPORT TAG (http://goo.gl/dgcVV)
@-webkit-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-o-viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@viewport {
    width: device-width;
}

//SETTING UP MAIN ELEMENTS
html {
    font-family: $base-font;
    font-size: ($base-font-size / 16px) * 1em;
    line-height: $base-line-height;

    overflow-x: hidden;

    color: $text-clr;
    background-color: $white;

    &.active-sidebar {
        overflow: hidden !important;
    }
}

body {
    -webkit-font-smoothing: antialiased;

    #preloader {
        font-size: 19px;

        position: fixed;
        z-index: 999999999999999999999999;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: url('../images/preloader.gif') 50% 50% no-repeat $base;
    }

    * {
        // -webkit-backface-visibility:hidden; /* Chrome and Safari */
        &:focus {
            outline: none;
        }
    }
}

.mobile-overlay {
    position: fixed;
    z-index: 6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0,0,0,0.5);

    @include fadeout;

    &.active {
        @include fadein;
    }
}

a {
    font-family: $base-font;

    text-decoration: none;

    color: $link-clr;
    outline: none;  /* removing outline in Mozilla */

    @include transition(all 0.2s ease);

    &:active {
        background-color: transparent;
    }

    &:hover:not([class^='btn']):not([class*=' btn']) {
        text-decoration: none;

        color: $link-hover;
    }

    &:focus {
        text-decoration: none;

        outline: none!important;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $base-font;
    font-weight: 600;
    line-height: 1;

    position: relative;
    z-index: 2;

    text-transform: uppercase;

    color: $title-clr;
}

h1 {
    font-size: 140px;
}

h2 {
    font-size: 65px;
}

h3 {
    font-size: 35px;
}

h4 {
    font-family: $title-font;
    font-size: 27px;
}

h5 {
    font-family: $title-font;
    font-size: 19px;
}

h6 {
    font-size: 15px;
}

//BORDER BOX FTW
*,
*:before,
*:after {
    @include box-sizing(border-box);    /* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
}

p {
    font-family: $title-font;
    font-size: 1.2rem;

    clear: both;

    margin-bottom: $space;
}

img {
    vertical-align: top;
}

table {
    width: 100%;
}

strong {
    font-weight: bold;
}


//CLEARING FLOAT (always extend .clearfix class)
.clearfix {
    @include pie-clearfix;
}

//SELECTED TEXT
// @include selected-text;

//HIDE CLASS
.hide {
    display: none !important;
}

.remove {
    visibility: hidden;

    opacity: 0;
}

.block {
    display: block!important;
}

.inline {
    display: inline-block!important;
}

.no-flote {
    float: none!important;
}

.center {
    margin: 0 auto;

    text-align: center!important;
}

//SETTING FORM ELEMENTS
button:hover,
input[type='submit']:hover,
label {
    cursor: pointer;
}

textarea {
    overflow: auto;        /* for IE and older browsers */

    margin: 0;             /* removing margin in Mozilla */
}

/* align checkboxes, radios, text inputs with their label */
input[type='radio'] {
    vertical-align: text-bottom;
}

input[type='checkbox'] {
    vertical-align: bottom;

    *vertical-align: baseline;
}

//removing webkit outline
input:focus,
textarea:focus,
button:focus {
    outline: none;
}

//removing odd button padding/margin in Mozilla
button::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
    padding: 0;

    border: 0;
}

// view uppercase
.uppercase {
    text-transform: uppercase;
}


/**
 * Add/remove margins
 */
.push {
    margin: $gutter !important;
}

.push--top {
    margin-top: $gutter !important;
}

.push--right {
    margin-right: $gutter !important;
}

.push--bottom {
    margin-bottom: $gutter !important;
}

.push--left {
    margin-left: $gutter !important;
}

.push--ends {
    margin-top: $gutter !important;
    margin-bottom: $gutter !important;
}

.push--sides {
    margin-right: $gutter !important;
    margin-left: $gutter !important;
}

.push-half {
    margin: round($gutter / 2) !important;
}

.push-half--top {
    margin-top: round($gutter / 2) !important;
}

.push-half--right {
    margin-right: round($gutter / 2) !important;
}

.push-half--bottom {
    margin-bottom: round($gutter / 2) !important;
}

.push-half--left {
    margin-left: round($gutter / 2) !important;
}

.push-half--ends {
    margin-top: round($gutter / 2) !important;
    margin-bottom: round($gutter / 2) !important;
}

.push-half--sides {
    margin-right: round($gutter / 2) !important;
    margin-left: round($gutter / 2) !important;
}

.push-double {
    margin: $gutter * 2 !important;
}

.push-double--top {
    margin-top: $gutter * 2 !important;
}

.push-double--right {
    margin-right: $gutter * 2 !important;
}

.push-double--bottom {
    margin-bottom: $gutter * 2 !important;
}

.push-double--left {
    margin-left: $gutter * 2 !important;
}

.push-double--ends {
    margin-top: $gutter * 2 !important;
    margin-bottom: $gutter * 2 !important;
}

.push-double--sides {
    margin-right: $gutter * 2 !important;
    margin-left: $gutter * 2 !important;
}

.push-triple {
    margin: $gutter * 3 !important;
}

.push-triple--top {
    margin-top: $gutter * 3 !important;
}

.push-triple--right {
    margin-right: $gutter * 3 !important;
}

.push-triple--bottom {
    margin-bottom: $gutter * 3 !important;
}

.push-triple--left {
    margin-left: $gutter * 3 !important;
}

.push-triple--ends {
    margin-top: $gutter * 3 !important;
    margin-bottom: $gutter * 3 !important;
}

.push-triple--sides {
    margin-right: $gutter * 3 !important;
    margin-left: $gutter * 3 !important;
}

.push-quadruple {
    margin: $gutter * 4 !important;
}

.push-quadruple--top {
    margin-top: $gutter * 4 !important;
}

.push-quadruple--right {
    margin-right: $gutter * 4 !important;
}

.push-quadruple--bottom {
    margin-bottom: $gutter * 4 !important;
}

.push-quadruple--left {
    margin-left: $gutter * 4 !important;
}

.push-quadruple--ends {
    margin-top: $gutter * 4 !important;
    margin-bottom: $gutter * 4 !important;
}

.push-quadruple--sides {
    margin-right: $gutter * 4 !important;
    margin-left: $gutter * 4 !important;
}

.push-fivefold {
    margin: $gutter * 5 !important;
}

.push-fivefold--top {
    margin-top: $gutter * 5 !important;
}

.push-fivefold--right {
    margin-right: $gutter * 5 !important;
}

.push-fivefold--bottom {
    margin-bottom: $gutter * 5 !important;
}

.push-fivefold--left {
    margin-left: $gutter * 5 !important;
}

.push-fivefold--ends {
    margin-top: $gutter * 5 !important;
    margin-bottom: $gutter * 5 !important;
}

.push-fivefold--sides {
    margin-right: $gutter * 5 !important;
    margin-left: $gutter * 5 !important;
}

.flush {
    margin: 0 !important;
}

.flush--top {
    margin-top: 0 !important;
}

.flush--right {
    margin-right: 0 !important;
}

.flush--bottom {
    margin-bottom: 0 !important;
}

.flush--left {
    margin-left: 0 !important;
}

.flush--ends {
    margin-top: 0 !important;
    margin-bottom: 0!important;
}

.flush--sides {
    margin-right: 0 !important;
    margin-left: 0!important;
}

.icon-right-arrow {
    font-size: 11px!important;
}