/* --------------------------------------------------------------------------------------
+
+ FOLLOW SLIDER
+
-------------------------------------------------------------------------------------- */

.follow-section {



	/* clearfix */
	.owl-carousel .owl-wrapper:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
	/* display none until init */
	.owl-carousel{
		display: none;
		position: relative;
		width: 100%;
		top: 90px;
		-ms-touch-action: pan-y;
	}
	.owl-carousel .owl-wrapper{
		display: none;
		position: relative;
		-webkit-transform: translate3d(0px, 0px, 0px);
	}
	.owl-carousel .owl-wrapper-outer{
		overflow: hidden;
		position: relative;
		width: 100%;
	}
	.owl-carousel .owl-wrapper-outer.autoHeight{
		-webkit-transition: height 500ms ease-in-out;
		-moz-transition: height 500ms ease-in-out;
		-ms-transition: height 500ms ease-in-out;
		-o-transition: height 500ms ease-in-out;
		transition: height 500ms ease-in-out;
	}

	.owl-carousel .owl-item{
		float: left;
		.item {
			p {
				font-size: 35px;
				margin-top: 50px;
				color:$grey-logo!important;
				line-height: 1.2;
				font-weight: 400;
				font-family: $base-font;
			}

			h4 {
				font-size: 25px;
				font-weight: 700;
				padding-top: 12px;
				margin-bottom: 10px;
			}
			h5 {
				font-size: 17px;
				font-weight: 700;
			}
			a {
				font-size: 35px;
				font-weight: 400;
			}
			img {
				display: inline-block;
			    float: left;
			    @include box(78px);
			    @include pie(50%);
			    border: 0;
			    margin-right: 28px;
			}
		}
	}
	.owl-controls .owl-page,
	.owl-controls .owl-buttons div{
		cursor: pointer;
	}
	.owl-controls {
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}

	/* fix */
	.owl-carousel  .owl-wrapper,
	.owl-carousel  .owl-item{
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility:    hidden;
		-ms-backface-visibility:     hidden;
	  -webkit-transform: translate3d(0,0,0);
	  -moz-transform: translate3d(0,0,0);
	  -ms-transform: translate3d(0,0,0);
	}

	.customNavigation {
		position: absolute;
		right: 15px;
		top: 110px;
		z-index: 99;
		a {
			cursor: pointer;
			display: inline-block;
			vertical-align: top;
			span {
				color: $grey-logo;
				display: inline-block;
				@include t(.3s);
				vertical-align: top;
			}
			svg {
				width: 46px;
				height: 31px;
				vertical-align: top;
			}
			&:hover {
				span {
					color: $highlight;

				}
			}
		}
		.prev {
			margin-right: 14px;
			span {
			    -ms-transform: rotate(180deg); /* IE 9 */
				-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
				transform: rotate(180deg);
			}
		}
	}

}


