/* --------------------------------------------------------------------------------------
+
+ FOOTER
+
-------------------------------------------------------------------------------------- */


.footer-main {
	background-color: $base;
	padding: 20px 0;
	small {
		color: #3f4474;
		text-transform: uppercase;
		a {
			color: #3f4474!important;
			&:hover {
				color: $white!important;
			}
		}
	}
}