/* --------------------------------------------------------------------------------------
+
+ FORMS
+
-------------------------------------------------------------------------------------- */



input[type="text"],input[type="email"], textarea,
select {
	vertical-align: middle;
	border:none;
	color: $input-clr;
	background-color: transparent;
	padding: 0 22px;
	padding-left: 37px;
	@include transition(all .4s ease);
    font-family: $base-font;
    font-size: $base-font-size;
    @include lh(50px);
    @include bs;
    -webkit-appearance: none; //remove inner box-shadow from iOS devices
    box-shadow: none;
    width: 100%;
	border-bottom: 2px solid $white;
    border-radius: 0;
	@include opacity(0.5) ;
	&:hover, &:focus {
		@include opacity(1) ;

	}
    &:invalid {
        @include box-shadow(none);  /* fixes mozilla red outline (shadow) */
    }

    &.error {
		background-color:#ea5555;
		color: $white;
		// border: 2px solid $white;
		@include bs;
	}
}


textarea {
	padding: 10px 10px;
	padding-left: 37px;
	padding-top: 13px;
	line-height: $base-line-height;
	resize: none;
	width: 100%;
	min-height: 50px!important;
	display: block;
	@include bs;
	border-bottom: 2px solid $white;

}

[placeholder]:focus::-webkit-input-placeholder {
     color: transparent;
}


p.notify {
	position: absolute;
	bottom: -1px!important;
	right: 0;
	font-size: 15px;
	color: $white;
	margin-bottom: 0;
}