/* --------------------------------------------------------------------------------------
+
+ HEADER
+
-------------------------------------------------------------------------------------- */

header {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;

    width: 100%;
    max-width: 100%;
    padding: 50px 0;

    background-color: transparent;

    .logo {
        display: block;
        overflow: hidden;

        width: 212px;
        height: 55px;
        margin-left: 0!important;

        background: url(../images/logo.png) no-repeat 50% 50%;
        background-size: 100%;

        @include nt;
    }

    .bars {
        font-size: 23px;

        margin-top: 17px;

        color: $white;

        @include t(0.4s);
        @include opacity(0.8);

        &:hover {
            @include opacity(1) ;
        }
    }

    nav {
        margin-top: 16px!important;

        ul {

            li {
                padding: 0!important;
            }

            li + li {
                margin-left: 30px;
            }

            a {
                margin-top: 20px;

                opacity: 0.5;
                color: $white;

                @include t(0.4s);

                &:hover {
                    opacity: 1;
                    color: $highlight !important;
                    background-color: transparent!important;
                }

                &:focus {
                    color: $highlight !important;
                    background-color: transparent!important;
                }
            }
        }
    }
}

.change {
    position: fixed;

    padding: 20px 0;

    background-color: $base;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2); /* drop shadow */
       -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2); /* drop shadow */
            box-shadow: 0 1px 1px rgba(0,0,0,0.2); /* drop shadow */

    @include t(0.4s);

    ul {

        a {
            color: $white !important;
        }
    }

    .bars {
        color: #3f4474;
    }
}