/* --------------------------------------------------------------------------------------
+
+ HELPERS
+
-------------------------------------------------------------------------------------- */


.clear {
	@include clear;
}

.block {
	display: block;
}

.italic {
	font-style: italic;
}

.bold {
	font-weight: 700;
}

.underline {
	text-decoration: underline;
}

.full-width {
	width: 100%;
	display: block;
}

.inline-block {
	display: inline-block;
}

.center {
	text-align: center;
}

.mb25 {
    margin-bottom: 25px !important;
}

