/* --------------------------------------------------------------------------------------
+
+ LAYOUT
+
-------------------------------------------------------------------------------------- */

@import "compass/layout.scss";

@include sticky-footer(auto, ".layout", ".layout_footer", "footer");

main {
    display: block; /* this is important for some browsers (opera, ...) who recognize <main> as inline element */
}
.layout {
	overflow-x:hidden;
}
.container {
    margin: 0 auto;
    width: $page-width;
}

@media (max-width: $page-width - 1) {
	.container {
		width: 100%;
		// padding:0 20px;
	}
}

.left {
    float: left;

}

.right {
    float: right;

}