/* --------------------------------------------------------------------------------------
+
+ MEDIA QUERY
+
-------------------------------------------------------------------------------------- */



@media (max-width: 1200px) {
    /*************************************
    **************************************
    **************************************

      #about section

    **************************************
    **************************************
    **************************************/


    #about {

        .devday__item {

            &:first-child,
            &:nth-child(2) {
                margin-bottom: 40px;
            }
        }
    }

    /*************************************
    **************************************
    **************************************

      .social section

    **************************************
    **************************************
    **************************************/

    .social {
        padding: 90px 0;

        text-align: center;

        form {

            label {
                width: 70%;

                text-align: left;
            }
        }

        ul {
            float: none!important;

            margin-top: 30px;

            li {
                margin-top: 15px;
            }
        }
    }

    .speaker-section {

        .owl-carousel {
            padding-right: calc(100% - 66.6% )!important;
        }

        .speaker {
            width: calc(100% - 66.6% )!important;
        }
    }
}

@media (max-width: 1200px) {

    .sponsors-section {
        padding-bottom: 25px!important;

        ul {

            li {
                margin-bottom: 35px!important;
            }
        }
    }
}

@media (max-width: 1025px) {
    /*************************************
    **************************************
    **************************************

      #contact section

    **************************************
    **************************************
    **************************************/

    .contact-section {
        text-align: center;

        .main-form {
            text-align: left;
        }

        .human-test {
            float: none;

            text-align: center!important;

            .test {
                float: none;
            }

            div:nth-child(2) {
                float: none;

                width: 95%;
                margin: 30px auto;
                margin-left: 0;
            }
        }

        button {
            float: none;

            margin: 0 auto;
        }
    }
}

@media (max-width: 992px) {
    /*************************************
    **************************************
    **************************************

      #heading-slogan section

    **************************************
    **************************************
    **************************************/

    .heading-slogan-section {

        .row {

            > div {
                text-align: center;

                a {
                    float: none!important;
                }
            }
        }
    }

    /*************************************
    **************************************
    **************************************

      #heading-slogan section

    **************************************
    **************************************
    **************************************/

    .heading-slogan-section {

        h2 {
            width: 70%;
        }
    }

    /*************************************
    **************************************
    **************************************

      #follow section

    **************************************
    **************************************
    **************************************/

    .follow-section {
        height: auto;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }

        .row {

            > div {
                padding: 0;

                .follow-slider {
                    padding: 0 45px;

                    .prev {
                        right: 107px;
                    }

                    .next {
                        right: 45px;
                    }
                }

                .buzz {
                    height: auto;
                    min-height: 0!important;
                    padding: 90px 45px;

                    text-align: left!important;

                    a,
                    h3 {
                        display: inline-block!important;
                    }

                    h3 {
                        margin: 0;
                    }

                    .tweet {
                        text-align: center;
                    }

                    a:first-child {
                        margin-right: 25px;
                    }

                    .follow-btn {
                        float: right;

                        margin-top: 10px;
                    }
                }
            }
        }
    }

    /*************************************
    **************************************
    **************************************

      .map section

    **************************************
    **************************************
    **************************************/


    .map {

        #map {
            height: 780px!important;
        }

        .infoBox {
            top: 120px;

            width: 500px!important;
            margin-left: 135px;

            img {
                z-index: 999999999!important;
                top: 269px;
                bottom: auto;
            }

            article {
                position: relative;

                display: block;

                width: 100%!important;
            }

            article:nth-child(2) {
                border-top: 2px solid #c8cad5;
                border-left: 0;
            }
        }

        #content {
            width: 500px!important;
        }
    }
}

@media (max-width: 768px) {
    /*************************************
    **************************************
    **************************************

      header

    **************************************
    **************************************
    **************************************/

    header {
        background: $base;

        .container {
            position: relative;

            padding: 0 50px;
        }

        .bars {
            display: block!important;
            float: right;

            cursor: pointer;

            svg {
                width: 36px;
                height: 36px;

                fill: $white;
            }
        }

        .icon-menu_320 {
            display: none!important;
        }

        nav {
            position: fixed;
            // right: -40%;
            top: 80px;

            width: 40%;
            height: 100%;
            margin-top: 0;

            -webkit-transform: translate(300%, 61px); /* Chrome, Safari, Opera */
                -ms-transform: translate(300%, 61px); /* IE 9 */
                    transform: translate (300%, 61px);
                    transform: translate(300%, 61px);

            background-color: $base;

            @include t(0.7s);

            &.active {
                -webkit-transform: translate(145%, 61px); /* Chrome, Safari, Opera */
                    -ms-transform: translate(145%, 61px); /* IE 9 */
                        transform: translate (145%, 61px);
                        transform: translate(145%, 61px);
            }

            ul {

                li {
                    display: block!important;

                    border-bottom: 1px solid #c8cad5;

                    @include t(0.4s);

                    &:hover {
                        background-color: #c8cad5;

                        a {
                            @include opacity(1);
                        }
                    }

                    a {
                        line-height: 74px;

                        display: block;

                        width: 100%;
                        height: 74px;
                        margin-top: 0;
                        padding: 0 30px;

                        color: $white!important;

                        @include opacity(0.5);
                    }
                }

                .clients {
                    display: none!important;
                }

                li + li {
                    margin-left: 0;
                    padding-left: 0!important;
                }
            }
        }

        &.change {
            padding: 20px 0!important;

            .container {

                nav {
                    top: 20px;

                    &.active {
                        -webkit-transform: translate(145%, 61px);
                            -ms-transform: translate(145%, 61px);
                                transform: translate (145%, 61px);
                    }
                }
            }

            .bars {

                svg {
                    fill: $white;
                }
            }
        }
    }




    /*************************************
    **************************************
    **************************************

      #subheader section

    **************************************
    **************************************
    **************************************/

    .subheader-section {
        position: relative;

        .container {

            article {
                position: relative;
                z-index: 5;

                text-align: center!important;

                h4 {
                    font-size: 27px;
                }

                h1 {
                    font-size: 90px;

                    margin-left: 0;

                    letter-spacing: 0;
                }

                a {
                    margin-top: 50px;
                }
            }
        }

        .customNavigation {

            a.next {
                margin: 0 50px 0 0 !important;
            }
        }

        .owl-pagination {
            left: 50px;
        }

        &.background-section {

            article {
                left: 0;
            }
        }

        &.video-section {

            article {
                left: 0;

                .console {
                    display: block!important;
                    float: none!important;
                }
            }
        }
    }



    /*************************************
    **************************************
    **************************************

      #about section

    **************************************
    **************************************
    **************************************/

    #about {
        position: relative;

        .container {

            > p {
                width: 90%;
            }
        }

        .devday__item {
            margin-bottom: 0!important;
        }

        .devday__item + .devday__item {
            margin-top: 40px;
        }
    }

    /*************************************
    **************************************
    **************************************

      #heading-slogan section

    **************************************
    **************************************
    **************************************/

    .heading-slogan-section {

        .container {
            text-align: center;

            h2 {
                width: 100%;
            }

            a {
                position: relative;
                top: auto;
                left: 0;

                margin-top: 35px!important;
            }
        }
    }


    /*************************************
    **************************************
    **************************************

      #contact section

    **************************************
    **************************************
    **************************************/

    .contact-section {

        form {

            .main-form {

                .row:nth-child(2) {
                    margin-top: 0;
                }

                .cont1 {
                    margin-bottom: 20px;
                }
            }
        }
    }

    /*************************************
    **************************************
    **************************************

      .social section

    **************************************
    **************************************
    **************************************/

    .social {
        text-align: center;

        form {

            label {
                width: 100%;
                margin-right: 20;
            }

            button {
                // margin-top: 45px;
            }
        }

        ul {
            margin-top: 30px;

            li {
                margin: 15px 5px 0;

                br {
                    display: block;
                }
            }

            .br {
                display: block;
            }

            li + li {
                margin-left: 0;
            }
        }
    }



    /*************************************
    **************************************
    **************************************

      .map section

    **************************************
    **************************************
    **************************************/


    .map {
        min-height: 200px;
        padding: 0;

        border-top: 10px solid $base;
        background-color: #eaecf2;

        #map {
            display: none;
        }

        .show-mob {
            position: relative;

            display: block!important;

            padding: 20px 0;

            background-color: $white;

            img {
                position: absolute!important;
                z-index: 999999;
                bottom: 70px;
                left: 50px;

                cursor: pointer;
            }

            article {
                position: relative;

                float: none;

                width: 100%;
                min-height: 0;
                padding: 30px;

                text-align: center!important;

                h2 {
                    font-size: 1.75rem;

                    margin-bottom: 30px;

                    color: $highlight;
                }

                h4 {
                    font-size: 1.25rem;
                    font-weight: 300;
                    line-height: 1.25;

                    width: 100%;

                    color: $base;
                }

                h5 {
                    display: none;
                }
            }

            article:nth-child(2) {
                border-top: 2px solid #c8cad5;

                h6 {
                    margin-bottom: 10px;

                    color: $base;
                }

                p,
                a {
                    font-family: $title-font;
                    font-size: 19px;
                    font-weight: 300;

                    display: block;

                    margin-bottom: 10px;

                    color: #3f4474!important;
                }

                li {
                    display: block;
                }

                li + li {
                    margin-top: 5px;
                }
            }
        }

        .infobox-wrapper {
            display: block;

            width: 90%;
            margin: 0 auto;

            #infobox {
                position: relative;

                padding: 20px 0;

                background-color: $white;
                // top: 35px!important;
                img {
                    position: absolute!important;
                    z-index: 999999;
                    bottom: 70px;
                    left: 50px;

                    cursor: pointer;
                }

                article {
                    position: relative;

                    float: none;

                    width: 100%;
                    min-height: 0;
                    padding: 30px;

                    text-align: center!important;

                    h2 {
                        font-size: 50px;

                        margin-bottom: 30px;

                        color: $highlight;
                    }

                    h4 {
                        font-weight: 300;
                        line-height: 1.25;

                        width: 100%;

                        color: $base;
                    }

                    h5 {
                        display: none;
                    }
                }

                article:nth-child(2) {
                    border-top: 2px solid #c8cad5;

                    h6 {
                        margin-bottom: 10px;

                        color: $base;
                    }

                    p,
                    a {
                        font-family: $title-font;
                        font-size: 19px;
                        font-weight: 300;

                        display: block;

                        margin-bottom: 10px;

                        color: #3f4474!important;
                    }

                    li {
                        display: block;
                    }

                    li + li {
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}


@media (max-width: 705px) {
    /*************************************
    **************************************
    **************************************

      .social section

    **************************************
    **************************************
    **************************************/

    .social {

        form {

            label {
            }

            button {
                margin-top: 45px;
            }
        }
    }
}

@media (max-width: 700px) {

    .speaker-section {

        h3 {
            font-size: 24px;
        }

        .owl-carousel {
            padding-right: 0!important;
        }

        .speaker {
            position: relative;

            width: 100%!important;

            text-align: center;

            a {
                display: block;

                max-width: 200px;
                margin: 35px auto 0;
            }
        }
    }
}
@media (max-width: 610px) {

    .filter-section {

        .filter_content {

            .box.width2 {
                width: 99%;

                img {
                    position: relative;

                    width: auto;
                    height: 100%;

                    -webkit-transform: translate(-25%,0); /* Safari */
                        -ms-transform: translate(-25%,0); /* IE 9 */
                            transform: translate(-25%,0);
                }
            }
        }
    }
}
@media (max-width: 600px) {
    /*************************************
    **************************************
    **************************************

      header

    **************************************
    **************************************
    **************************************/

    header {
        padding: 20px 0 !important;

        background-color: $base !important;

        .container {
            padding: 0 15px !important;
        }

        nav {
            top: 5px!important;

            margin-top: 0!important;

            ul {

                li {
                    color: $white;

                    a {
                        line-height: 50px;

                        height: 50px;
                    }
                }
            }
        }

        .logo {
            width: 116px;
            height: 32px;

            span {
                color: $base;
            }

            .main-logo {
                display: none!important;
            }

            .small-logo {
                display: block!important;

                fill: $base!important;
            }
        }

        .icon-menu_768 {
            display: none!important;
        }

        .bars {

            svg {
                float: right;

                width: 36px;
                height: 30px;

                fill: $white !important;
            }
        }

        .icon-menu_320 {
            font-size: 21px!important;

            display: block!important;

            margin-top: 2px!important;
        }
    }

    section {

        h1 {

            img {
                width: 100%;
                height: auto;
            }
        }

        .container {

            > p {
                width: 95%!important;
            }
        }

        &.subheader-section {

            h4 {
                font-size: 1.4rem;

                margin-top: 0;
            }

            &.background-section {
                background-size: 150%;
            }
        }
    }


    /*************************************
    **************************************
    **************************************

      #follow section

    **************************************
    **************************************
    **************************************/

    .follow-section {
        height: auto;

        &:before {
            display: none;
        }

        &:after {
            display: none;
        }

        .row {

            > div {
                padding: 0;

                .follow-slider {
                    height: auto!important;
                    min-height: 0!important;
                    padding: 90px 25px!important;

                    .customNavigation {
                        right: 50%;

                        -webkit-transform: translate(50%,0);
                           -moz-transform: translate(50%,0);
                            -ms-transform: translate(50%,0);
                    }
                }

                .owl-carousel {
                    top: 0;

                    margin-top: 90px;

                    text-align: center;

                    img {
                        display: inline-block!important;
                        float: none!important;

                        margin-right: 0!important;
                        margin-bottom: 20px!important;
                    }

                    p {
                        font-size: 27px!important;

                        a {
                            font-size: 27px!important;
                        }
                    }

                    .owl-item {
                        height: auto;
                    }
                }

                .buzz {
                    height: auto;
                    min-height: 0!important;
                    padding: 90px 45px;

                    text-align: center!important;

                    a,
                    h3 {
                        display: block!important;
                    }

                    a {
                        margin: 0 auto!important;
                    }

                    h3 {
                        margin: 40px auto;
                    }

                    .tweet {
                        text-align: center;
                    }

                    a:first-child {
                        margin-right: 0;
                    }

                    .follow-btn {
                        float: none;

                        margin-top: 10px!important;
                    }
                }
            }
        }
    }
}

@media (max-width: 550px) {

    #top {
        right: 10px;
        bottom: 10px;
    }
    /*************************************
    **************************************
    **************************************

      #subheader section

    **************************************
    **************************************
    **************************************/

    .subheader-section {
        position: relative;

        .container {

            article {
                position: relative;
                z-index: 5;

                text-align: center!important;

                h4 {
                    font-size: 21px;
                }

                h1 {
                    font-size: 41px;
                }

                a {
                    margin-top: 50px;
                }
            }

            .customNavigation {
                display: none;
            }

            .owl-pagination {
                left: 50%;

                -webkit-transform: translate(-50%,0); /* Chrome, Safari, Opera */
                    -ms-transform: translate(-50%,0); /* IE 9 */
                        transform: translate(-50%,0);
            }
        }
    }

    .white-popup .person {
        padding: 25px!important;

        text-align: center;

        li {
            margin-bottom: 10px;
        }

        li + li {
            margin-left: 5px!important;
        }
    }
}

@media (max-width: 450px) {
    /*************************************
    **************************************
    **************************************

      .contact section

    **************************************
    **************************************
    **************************************/


    .contact-section {

        h3 {
            font-size: 24px;
        }

        .human-test {

            div:nth-child(2) {
                width: 100%!important;

                label {
                    margin: 0 3px;
                }
            }
        }
    }

    .sessions-section {
        font-size: 24px;
    }

    .social form > div {
        width: 100%!important;
        margin-right: 0!important;
    }
}
