
@mixin box($var) {
    width: $var;
    height: $var;
    display: block;
}
@mixin t($var:.3s) {
    @include transition(all $var ease);
}
@mixin nt {
    @include transition(none);
}

@mixin pie($rad) {
    behavior: url("../PIE.htc");
    position: relative;
    @include border-radius($rad);
}

@mixin cover {
    @include background-size(cover);
    -ms-behavior: url(../js/backgroundsize.htc);
}

@mixin bf {
    -webkit-backface-visibility:hidden; /* Chrome, Safari, Opera */
    backface-visibility:hidden;
}

// Borders
@mixin bd { border: 1px solid $border; }
@mixin bdt { border-top: 1px solid $border; }
@mixin bdb { border-bottom: 1px solid $border; }
@mixin bdl { border-left: 1px solid $border; }
@mixin bdr { border-right: 1px solid $border; }

@mixin radius {
    @include border-radius($radius);
    @include background-clip();
}

@mixin circle {
    @include border-radius(50%);
    @include background-clip();
}

@mixin clear {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

// hover color

@mixin hc($color) {
    @include trans;

    &:hover {
        color: $color;
    }
}

// TRIANGLES

@mixin triangles {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    position: absolute;
}

@mixin fadeout {
    visibility: hidden;
    @include opacity(0);
    @include t(.4s);
    /* hack for ie8 */
    opacity: 1\9;
    visibility: visible\9;
    display: none\9;
}
@mixin fadein {
    visibility: visible;
    @include opacity(1);
    /* hacks for ie8 */
    display: block\9;
}

@mixin curve($rad) {
    @include border-radius($rad);
    @include background-clip();
}

@mixin borders {
    @include border-radius($radius);
    @include background-clip();
    border: 1px solid $border;
}

// hover opacity
@mixin ho($opac) {
    @include trans;

    &:hover {
        @include opacity($opac);
    }
}

// hover color
@mixin hc($color) {
    @include trans;

    &:hover {
        color: $color;
    }
}

// TRIANGLES
@mixin triangles {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-style: solid;
    position: absolute;
}

@mixin tt($w1, $w2, $clr) {
    @include triangles;
    border-width: 0 $w1 $w2 $w1;
    border-color: transparent transparent $clr transparent;
}
@mixin tb($w1, $w2, $clr) {
    @include triangles;
    border-width: $w2 $w1 0 $w1;
    border-color: $clr transparent transparent transparent;
}
@mixin tr($w1, $w2, $clr) {
    @include triangles;
    border-width: $w1 0 $w1 $w2;
    border-color: transparent transparent transparent $clr;
}
@mixin tl($w1, $w2, $clr) {
    @include triangles;
    border-width: $w1 $w2 $w1 0;
    border-color: transparent $clr transparent transparent;
}

// LINE-HIGH
@mixin lh($line-height) {
    height: $line-height;
    line-height: $line-height;
}

// BOX SIZING
@mixin box-sizing($bs) {
  $bs: unquote($bs);
  @include experimental(box-sizing, $bs, -moz, -webkit, not -o, not -ms, not -khtml, official);
}
@mixin bs {
    @include box-sizing(border-box);
}

// HIDE TEXT
@mixin ht {
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    background-color: transparent;
}

//UNSELECTABLE
@mixin unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

//animation mixin

@mixin anim ($delay, $duration, $animation, $function) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-name: $animation;
    -webkit-animation-timing-function: $function;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-name: $animation;
    -moz-animation-timing-function: $function;
    -moz-animation-iteration-count: infinite;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-name: $animation;
    -o-animation-timing-function: $function;
    -o-animation-iteration-count: infinite;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-name: $animation;
    animation-timing-function: $function;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin font-size($font-size, $important: "") {
    @if($important == "!important") {
        $important: " !important";  /* add space in front of ! sign */
    }
    font-size: $font-size#{$important};
    font-size: px-rem($font-size)#{$important};
}

