/* --------------------------------------------------------------------------------------
+
+ SUBHEADER SLIDER
+
-------------------------------------------------------------------------------------- */


.subheader-section {
  	/*
  /*
   * 	Core Owl Carousel CSS File
   *	v1.3.3
   */

  /* clearfix */
  .owl-carousel .owl-wrapper:after {
  	content: ".";
  	display: block;
  	clear: both;
  	visibility: hidden;
  	line-height: 0;
  	height: 0;
  }
  /* display none until init */
  .owl-carousel{
  	display: none;
  	position: relative;
  	width: 100%;
  	-ms-touch-action: pan-y;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
  	height: 100%;

  }
  .owl-carousel .owl-wrapper{
  	display: none;
  	position: relative;
  	-webkit-transform: translate3d(0px, 0px, 0px);
  	height: 100%;
  }
  .owl-carousel .owl-wrapper-outer{
  	overflow: hidden;
  	position: relative;
  	width: 100%;
  	height: 100%;
  }
  .owl-carousel .owl-wrapper-outer.autoHeight{
  	-webkit-transition: height 500ms ease-in-out;
  	-moz-transition: height 500ms ease-in-out;
  	-ms-transition: height 500ms ease-in-out;
  	-o-transition: height 500ms ease-in-out;
  	transition: height 500ms ease-in-out;
  }

  .owl-carousel .owl-item{
  	float: left;
    position: relative;
	height: 100%;
	.item {
		height: 100%;

	}
	.browse-images {
      height: 100%!important;
      width: 100%!important;
      display: block;
      background-size: cover!important;
      background-position: 50% 50%!important;
    }
    &:before {
		position: absolute;
		content: "";
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-repeat: repeat;
		background-position: 50% 50%;
		z-index: 9999;
	}
  }
  .owl-controls .owl-page,
  .owl-controls .owl-buttons div{
  	cursor: pointer;
  }
  .owl-controls {
  	-webkit-user-select: none;
  	-khtml-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
  	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .nav-container {
	position: relative;
	z-index: 99;
  }
  .owl-pagination {
  	position: absolute;
  	bottom: 70px;
  	left: 0;
  	.owl-page {
		position: relative;
		display: block;
		float: left;
		margin: 0 5px;
		cursor: pointer;
		width: 19px;
		height: 19px;
		span {
			top: 0;
			left: 0;
			@include box(18px);
			// width: 100%;
			display: block;
			// height: 100%;
			outline: none;
			border-radius: 50%;
			background-color: transparent;
			border: 2px solid rgba(255, 255, 255, 0.3);
			text-indent: -999em; /* make the text accessible to screen readers */
			cursor: pointer;
			position: absolute;
		}
	}
  }
  	.owl-pagination .owl-page {
		width: 19px;
		height: 19px;
	}

	.owl-pagination .owl-page span {
		// top: 3px;
		// left: 3px;
		// width: 19px;
		// height: 19px;
		// background-color: #c44d48;
		-webkit-transition: opacity 0.3s ease;
		transition: opacity 0.3s ease;
	}

	.owl-pagination .owl-page svg {
		z-index: 10;
	}

	.owl-pagination .owl-page svg circle {
		opacity: 0;
		fill: none;
		stroke: $white;
		stroke-width: 2;
		stroke-linecap: round;
		stroke-linejoin: round;
		stroke-dasharray: 39 39;
		stroke-dashoffset: 39;
		/* length of circle path (pi*2r) */
		-webkit-transition: stroke-dashoffset 0.3s, opacity 0.3s;
		transition: stroke-dashoffset 0.3s, opacity 0.3s;
	}

	.owl-pagination .owl-page.active span,
	.owl-pagination .owl-page span:hover,
	.owl-pagination .owl-page span:focus {
		// opacity: 0.5;
	}

	.owl-pagination .owl-page.active svg circle {
		opacity: 1;
		stroke-dashoffset: 0;
		-webkit-transition: stroke-dashoffset 0.3s, opacity 0.15s;
		transition: stroke-dashoffset 0.3s, opacity 0.15s;
	}

	.owl-pagination {
		left: 10px;
		.owl-page {
			display: inline-block;
			margin: 0 5px;
			a {
				@include box(19px);
				@include pie(50%);
				@include ht;
				border: 2px solid $white;
				display: block;
				@include opacity(0.5);
				@include t(.4s);
				&:hover {
					@include opacity(1);

				}
			}
			&.active {
				a {
					@include opacity(1);

				}
			}
		}
	}
	.container {
		position: relative;
	}
	.customNavigation {
		position: absolute;
		bottom: 45px;
		right: 0;
		width: auto;
		z-index: 999;
		display: inline-block;
		a.next {
			float: right;
			font-size: 15px;
			display: inline-block;
			color: $white;
			height: 72px;
			margin: 0!important;
			vertical-align: middle;
			position: relative;
			padding: 0;
			margin-right: 15px!important;
			cursor: pointer;
			span {
				@include box(72px);
				@include pie(50%);
				border:2px solid rgba(255,255,255,.5);
				text-align: center;
				display: inline-block;
				vertical-align: middle;
				position: relative;
				z-index: 10;
				margin-left: 20px;
				padding-left: 5px;
				padding-top: 23px;
				svg {
					width: 12px;
					height: 21px;
					fill:$white;
					@include transition(.2s);
				}
			}
			&:after {
				position: absolute!important;
				content: "";
				@include box(56px);
				@include pie(50%);
				right: 8px;
				top: 8px;
				background-color: $white;
				@include fadeout;
				@include scale(.5);
				z-index: 9;
				@include t(.2s);

			}
			&:hover {
				span {
					svg {
						fill: $base;
					}
				}
				&:after {

					@include fadein;
					@include scale(1);


				}
			}
		}
	}

}
/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* CSS3 Transitions */

.owl-origin {
	-webkit-perspective: 1200px;
	-webkit-perspective-origin-x : 50%;
	-webkit-perspective-origin-y : 50%;
	-moz-perspective : 1200px;
	-moz-perspective-origin-x : 50%;
	-moz-perspective-origin-y : 50%;
	perspective : 1200px;
}

