[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-cms = ">3.5"

cmsplugin-filer = "*"
dj-database-url = "*"
django-appconf = "*"
django-classy-tags = "*"
django-filer = "*"
django-formtools = "*"
django-jsonfield = "*"
django-reversion = "*"
django-sekizai = "*"
django-treebeard = "*"
djangocms-admin-style = "*"
djangocms-attributes-field = "*"
djangocms-column = "*"
djangocms-file = "*"
djangocms-googlemap = "*"
djangocms-inherit = "*"
djangocms-link = "*"
djangocms-picture = "*"
djangocms-style = "*"
djangocms-teaser = "*"
djangocms-text-ckeditor = "*"
djangocms-video = "*"
easy-thumbnails = "*"
"psycopg2-binary" = "*"
python-magic = "*"
pytz = "*"
six = "*"
tzlocal = "*"
webencodings = "*"
django-registration = "*"
django-crispy-forms = "*"
pathlib = "*"
django-file-form = "*"
django-model-utils = "*"
requests = "*"
Django = "*"
django_polymorphic = "*"
"Django-Select2" = "*"
Pillow = "*"

[dev-packages]
coverage = "*"
django-debug-toolbar = "*"
lorem = "*"
mock = "*"
sqlparse = "*"

[requires]
python_version = "2.7"
