{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{% trans "Registration: activation complete" %}{% endblock %}
{% block content_body %}
    <div class="col-12 col-md-10 offset-md-1 content-area">
        <h2>{% trans "Account activated" %}</h2>
        <p>{% trans "You have activated your Dev Day account successfully." %}</p>
        {% if user.is_authenticated %}
            <p>{% url "pages-root" as root_page %}{% blocktrans %}Continue to <a href="{{ root_page }}">home page</a>.{% endblocktrans %}</p>
        {% else %}
            <p>{% url "auth_login" as login_page %}{% blocktrans %}Continue to <a href="{{ login_page }}">login</a>.{% endblocktrans %}</p>
        {% endif %}
    </div>
{% endblock %}
