{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{% trans 'Password changed' %}{% endblock %}
{% block content_body %}
    <div class="content-area">
        <div class="offset-lg-4 col-lg-4 col-md-12">
            <h1>{% trans "Password change" %}</h1>
            <p>{% trans 'Your password has been changed.' %}</p>
            <p>{% url 'user_profile' as user_profile %}{% blocktrans %}Visit <a href="{{ user_profile }}">your user profile</a>. To see review your registrations.{% endblocktrans %}</p>
        </div>
    </div>
{% endblock %}