install
url --url http://repo.mms-dresden.de/centos/7/x86_64/base/

lang en_US.UTF-8
keyboard de
timezone Europe/Berlin

network --bootproto=dhcp
firewall --enable --http --ssh --port=443:tcp

authconfig --enableshadow --passalgo=sha512
selinux --disabled
rootpw --iscrypted $1$damlkd,f$UC/u5pUts5QiU3ow.CSso/

text
skipx

clearpart --all --initlabel
autopart
zerombr
bootloader --location=mbr

firstboot --disabled
reboot

%packages
@Core
bzip2
gcc
kernel-devel
kernel-headers
git
sudo
wget
-avahi
-bluez-utils
-dogtail
-kudzu
-aic94xx-firmware
-alsa-firmware
-alsa-tools-firmware
-ipw2100-firmware
-ipw2200-firmware
-ivtv-firmware
-iwl100-firmware
-iwl1000-firmware
-iwl105-firmware
-iwl135-firmware
-iwl2000-firmware
-iwl2030-firmware
-iwl3160-firmware
-iwl3945-firmware
-iwl4965-firmware
-iwl5000-firmware
-iwl5150-firmware
-iwl6000-firmware
-iwl6000g2a-firmware
-iwl6000g2b-firmware
-iwl6050-firmware
-iwl7260-firmware
-iwl7265-firmware
%end

%post --log=/root/post-install.log
# vagrant
groupadd vagrant -g 900
useradd vagrant -g vagrant -G wheel -u 900
echo "vagrant" | passwd --stdin vagrant

# sudo
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers

# setup environment
echo "ftp_proxy=http://proxy.mms-at-work.de:8080/" >> /etc/environment
echo "http_proxy=http://proxy.mms-at-work.de:8080/" >> /etc/environment
echo "https_proxy=http://proxy.mms-at-work.de:8080/" >> /etc/environment
echo "no_proxy=.mms-dresden.de,.mms-at-work.de,git.t-systems-mms.eu,customerprojects.t-systems-mms.eu,localhost,.localhost,127.0.0.1" >> /etc/environment

http_proxy="http://proxy.mms-at-work.de:8080/" wget -O/etc/pki/tls/certs/ca-bundle.crt http://curl.haxx.se/ca/cacert.pem
update-ca-trust force-enable
update-ca-trust extract
%end
