{% extends "devday_site.html" %}
{% load i18n crispy_forms_tags cms_tags %}
{% block title %}{% trans "Submit a session" %}{% endblock %}
{% block content_body %}
    <div class="row">
      {% if request.user.is_staff %}
        <div class="offset-lg-2 col-lg-8 col-md-12 hide visible-to-editor-only">
            {% static_placeholder "submit-session-introtext" %}
            {% static_placeholder "submit-session-introtext-authenticated" %}
        </div>
      {% endif %}
        <div class="offset-lg-2 col-lg-8 col-md-12">
            {% static_placeholder "create-talk-introtext" %}
        </div>
    </div>
    {% crispy form %}
{% endblock %}
