{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{% trans "Speaker profile" %}{% endblock %}
{% block content_body %}
    <div class="offset-lg-2 col-lg-8 col-md-12">
        <h1>{% spaceless %}
            {% blocktrans with username=speaker.name %}Speaker profile for
                {{ username }}{% endblocktrans %}
        {% endspaceless %}</h1>
        <dl class="definition-list">
            <dt>{% trans "Name" %}</dt>
            <dd>{{ speaker.name }}</dd>
            <dt>{% trans "Email address" %}</dt>
            <dd><a href="mailto:{{speaker.name}} &lt;{{ speaker.user.email }}&gt;"
              >{{ speaker.user.email }}</a></dd>
            <dt>{% trans "Short biography" %}</dt>
            <dd>{{ speaker.short_biography }}</dd>
            {% if speaker.portrait and speaker.thumbnail %}
                <dt>{% trans "Speaker image" %}</dt>
                <dd><img src="{{ speaker.thumbnail.url }}"></dd>
            {% endif %}
        </dl>
    </div>
{% endblock %}
