{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{{ speaker }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-10 col-lg-offset-1 info-area speaker-profile" id="info-area">
            <h3>{{ speaker }}{% if speaker.user.organization %} // {{ speaker.user.organization }}{% endif %}
                {% if speaker.user.user.twitter_handle %} //
                    <a href="https://www.twitter.com/{{ speaker.user.user.twitter_handle }}">@{{ speaker.user.user.twitter_handle }}</a>{% endif %}</h3>
            <div class="col-xs-12 col-sm-4">
                <img src="{{ speaker.thumbnail.url }}" alt="{{ speaker }}">
            </div>
            <div class="col-xs-12 col-sm-8">
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2"
                               href="#collapseOne2">{% trans "Speaker information" %}</a>
                        </div>
                        <div id="collapseOne2" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <p>{{ speaker.shortbio|linebreaksbr }}</p>
                            </div>
                        </div>
                    </div>
                    {% for talk in speaker.talk_set.all %}
                        {% if talk.track %}
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion2"
                                       href="#collapseTwo{{ forloop.counter }}">{% trans "Session information" %}
                                        // {{ talk.title }}</a>
                                </div>
                                <div id="collapseTwo{{ forloop.counter }}" class="accordion-body collapse">
                                    <div class="accordion-inner"><p>{{ talk.abstract|linebreaksbr }}</p></div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}