{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{% trans "Speaker profile" %}{% endblock %}
{% block content_body %}
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <h1>{% spaceless %}
            {% if user.first_name %}
                {% blocktrans with username=user.get_full_name %}Speaker profile for {{ username }}{% endblocktrans %}
            {% else %}
                {% blocktrans with username=user.get_username %}Speaker profile for {{ username }}{% endblocktrans %}
            {% endif %}
        {% endspaceless %}</h1>
        <dl class="definition-list">
            <dt>{% trans "Firstname" %}</dt>
            <dd>{{ user.first_name }}</dd>
            <dt>{% trans "Lastname" %}</dt>
            <dd>{{ user.last_name }}</dd>
            <dt>{% trans "Short biography" %}</dt>
            <dd>{{ speaker.shortbio }}</dd>
            {% if speaker.portrait %}
                <dt>{% trans "Speaker image" %}</dt>
                <dd><img src="{{ speaker.thumbnail.url }}" width="{{ speaker.thumbnail.width }}"
                         height="{{ speaker.thumbnail.height }}"></dd>
            {% endif %}
        </dl>
    </div>
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
        {% if talks %}
            <h2>{% trans "Your Sessions" %}</h2>
            <table class="table">
                <thead>
                <tr>
                    <th>{% trans "Title" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for talk in talks %}
                    <tr>
                        <td><a href="{% url "edit_session" pk=talk.pk %}">{{ talk.title }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-notice" role="alert"{% trans "No sessions submitted." %}</div>
        {% endif %}
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <div class="text-center">
            <a href="{% url "submit_session" %}" class="btn btn-default">{% trans "Submit another session" %}</a>
        </div>
        <p><a href="{% url "auth_password_change" %}">{% trans "Change password" %}</a></p>
    </div>
{% endblock %}