{% extends "devday_site.html" %}
{% load i18n sekizai_tags static l10n crispy_forms_tags %}
{% block title %}{% trans "Talk" %} - {{ talk.title }}{% endblock %}
{% block content_body %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% static "css/theme-krajee-svg.css" %}">
    {% endaddtoblock %}
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <h1>{% spaceless %}{{ talk.title }}{% endspaceless %}</h1>
        <dl class="definition-list">
            <dt>{% trans "Title" %}</dt>
            <dd>{{ talk.title }}</dd>
            <dt>{% trans "Abstract" %}</dt>
            <dd>{{ talk.abstract }}</dd>
            <dt>{% trans "Remarks" %}</dt>
            <dd>{{ talk.remarks }}</dd>
        </dl>
    </div>
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <h3>{{ speaker }}{% if speaker.user.organization %} // {{ speaker.user.organization }}{% endif %}
          {% if speaker.user.user.twitter_handle %} //
              <a href="https://www.twitter.com/{{ speaker.user.user.twitter_handle }}">@{{ speaker.user.user.twitter_handle }}</a>{% endif %}
      </h3>
      {% if speaker.public_image %}
      <div class="col-xs-12 col-sm-4">
          <img src="{{ speaker.public_image.url }}" alt="{{ speaker }}" style="width:100%">
      </div>
      {% endif %}
      <div class="col-xs-12 col-sm-8">
        <p>{{ speaker.shortbio|linebreaksbr }}</p>
      </div>
{% comment %}
        <a class="btn" href="{% url 'talk_overview' %}">{% trans "Back to list of sessions" %}</a>
{% endcomment %}
    </div>
{% endblock %}
