{% extends "devday_site.html" %}
{% load i18n l10n cms_tags static sekizai_tags %}
{% block title %}{% trans "List of sessions" %}{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="offset-lg-1 col-lg-10 col-md-12">
            <h1>{% trans "List of sessions" %}: {{ talk_list|length }}</h1>
            {% if talk_list %}
                {% addtoblock "css" %}
                    <link rel="stylesheet" href="{% static "css/star-rating.css" %}">
                    <link rel="stylesheet" href="{% static "css/theme-krajee-svg.css" %}">
                    <style>
                      .talkformat-label {
                        color: #fff;
                        background-color: #35a4a3;
                        border-radius: 6px;
                        padding: 2px 6px;
                        font-size: 75%;
                        white-space: nowrap;
                      }
                      .talkformat-label-10 {
                        background-color: #280;
                      }
                      .talkformat-label-30 {
                        background-color: #046;
                      }
                      .talkformat-label-180 {
                        background-color: #000;
                      }
                    </style>
                {% endaddtoblock %}
                {% addtoblock "js" %}
                    <script src="{% static "js/star-rating.js" %}" type="text/javascript"></script>
                {% endaddtoblock %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><a href="{% url 'talk_overview' %}?sort_order=speaker&sort_dir={% if sort_order == 'speaker' and sort_dir == 'asc' %}desc{% else %}asc{% endif %}">{% trans "Speaker" %}</a></th>
                            <th><a href="{% url 'talk_overview' %}?sort_order=title&sort_dir={% if sort_order == 'title' and sort_dir == 'asc' %}desc{% else %}asc{% endif %}">{% trans "Session title" %}</a></th>
                            <th><a href="{% url 'talk_overview' %}?sort_order=score&sort_dir={% if sort_order == 'score' and sort_dir == 'desc' %}asc{% else %}desc{% endif %}">{% trans "Vote average" %}</a> /
                            <a href="{% url 'talk_overview' %}?sort_order=score_sum&sort_dir={% if sort_order == 'score_sum' and sort_dir == 'desc' %}asc{% else %}desc{% endif %}">{% trans "Vote sum" %}</a></th>
                            <th>{% trans "Comments" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for talk in talk_list %}
                            <tr>
                                <td>
                                    {% for speaker in talk.draft_speakers.all %}
                                    <a href="{% url 'speaker_details' pk=speaker.pk %}">{{ speaker.name }}</a>{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                                <td><a href="{% url 'talk_committee_details' pk=talk.pk %}">{{ talk.title }}</a><br>
                                {% for fmt in talk.talkformat.all %} <span class="talkformat-label talkformat-label-{{fmt.duration}}">{{ fmt }}</span> {% endfor %}</td>
                                <td>
                                    {% if talk.average_score %}
                                        <input title="{% trans 'average vote' %}" id="talk-average-{{ talk.pk }}-id"
                                            name="talk-average" type="number" class="rating-loading" data-size="xs"
                                            value="{{ talk.average_score|unlocalize }}">
                                        {% blocktrans with vote_sum=talk.vote_sum count vote_count=talk.vote_count %}(Sum {{ vote_sum }} in {{ vote_count }} vote){% plural %}(Sum {{ vote_sum }} in {{ vote_count }} votes){% endblocktrans %}
                                    {% else %}
                                        {% trans "No votes yet" %}
                                    {% endif %}</td>
                                <td>{% if talk.comment_count > 0 %}
                                    {{ talk.comment_count }}
                                    {% else %}
                                    {% trans "No comments yet" %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% addtoblock "js" %}
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.rating-loading').rating({
                                theme: 'krajee-svg',
                                filledStar: '<span class="krajee-icon krajee-icon-star"></span>',
                                emptyStar: '<span class="krajee-icon krajee-icon-star"></span>',
                                showCaption: false,
                                showClear: false,
                                displayOnly: true,
                                readOnly: true,
                                step: 0.1,
                                min: 0,
                                max: 5
                            });
                        });
                    </script>
                {% endaddtoblock %}
            {% else %}
                <p class="text-info">{% trans "There are no talks yet." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
