{% extends "devday_site.html" %}
{% load i18n %}
{% block title %}{% blocktrans %}{{ event.title }} - Videos, Slides and Example Code{% endblocktrans %}{% endblock %}
{% block content %}
  <div class="col-md-12 col-xs-12 col-lg-10 offset-lg-1 info-area session-video" id="info-area">
    {% if talk_list %}
      <h3>{% blocktrans %}Videos, Slides and Example Code for {{ event.title }}{% endblocktrans %}</h3>
      <div class="col-xs-12">
        <div class="accordion" id="accordion2">
          {% for talk in talk_list %}
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2"
                   href="#collapseOne{{ forloop.counter }}">{{ talk.title }}</a>
              </div>
              <div id="collapseOne{{ forloop.counter }}" class="accordion-body collapse">
                <div class="accordion-inner">
                  {% for speaker in talk.published_speakers.all %}
                      <h4><a href="{% url "public_speaker_profile" event=event.slug slug=speaker.slug %}">{{ speaker.name }}</a></h4>
                      <p>{{ speaker.short_biography|striptags|urlize|linebreaksbr }}</p>
                  {% endfor %}
                  <h4>Abstract</h4>
                  <p>{{ talk.abstract|striptags|urlize|linebreaksbr }}</p>
                  {% if talk.media.video %}
                    <div class="col-sm-12">
                        {% trans "Video" %}: <a href="{{ talk.media.video }}">{{ talk.media.video }}</a>
                    </div>
                  {% endif %}
                  {% if talk.media.slides %}
                    <div class="col-sm-12">
                        {% trans "Slide deck" %}: <a href="{{ talk.media.slides }}">{{ talk.media.slides }}</a>
                    </div>
                  {% endif %}
                  {% if talk.media.code %}
                    <div class="col-sm-12">
                      {% trans "Example code" %}: <a href="{{ talk.media.code }}">{{ talk.media.code }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% else %}
      <h3>{% trans "No videos, slides or example code found." %}</h3>
      <div class="col-xs-12">
        <p>{% blocktrans %}Videos and Slides for {{ event }} have not been published yet.{% endblocktrans %}</p>
      </div>
    {% endif %}
  </div>
{% endblock %}