{% extends "devday_site.html" %}
{% load crispy_forms_tags sekizai_tags staticfiles i18n %}
{% block content_body %}
    <div class="content-area">
        <div class="row">
            <div class="col-12 col-md-8">
                {% crispy form %}
            </div>
            <div class="col-12 col-md-4">
                <div class="dropzone-buttons">
                    <button id="portrait-upload-btn"
                            class="btn btn-success fileinput-button dz-clickable">{% trans "Upload portrait image" %}</button>
                    <button id="portrait-delete-btn"
                            class="btn btn-danger cancel{% if not speaker.portrait %} d-none{% endif %}">{% trans "Delete image" %}</button>
                </div>
                <div id="previews">
                    <div id="template" class="file-row">
                        <div class="progress progress-bar-striped active"
                             role="progressbar" aria-valuemin="0"
                             aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success"
                                 style="width:0%;"
                                 data-dz-uploadprogress></div>
                        </div>
                        <div>
                            <span class="preview"><img class="img-fluid" data-dz-thumbnail></span>
                        </div>
                        <div class="error text-danger">
                            <strong data-dz-errormessage></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% addtoblock "css" %}
        <style type="text/css">
            .dropzone-buttons {
                position: relative;
                height: 30px;
                padding-left: 10px;
                top: 60px;
                z-index: 10;
            }
        </style>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script>
            var previewNode = document.querySelector("#template");
            previewNode.id = "";
            var previewTemplate = previewNode.parentElement.innerHTML;
            previewNode.parentNode.removeChild(previewNode);

            var portraitDropZone = new Dropzone(document.body, {
                url: "{% url "upload_user_speaker_portrait" %}",
                thumbnailWidth: 500,
                thumbnailHeight: 700,
                maxFiles: 1,
                acceptedFiles: "image/*",
                previewTemplate: previewTemplate,
                autoQueue: false,
                previewsContainer: "#previews",
                clickable: ".fileinput-button",
                headers: {"X-CSRFToken": "{{ csrf_token }}"},
                paramName: "portrait",
                thumbnailMethod: "contain"
            });

            portraitDropZone.on("sending", function (file) {
                document.getElementById("portrait-upload-btn").setAttribute("disabled", "disabled");
            });

            portraitDropZone.on("maxfilesexceeded", function(file) {
                portraitDropZone.removeAllFiles();
                portraitDropZone.addFile(file);
            });

            document.getElementById("portrait-delete-btn").onclick = function () {
                portraitDropZone.removeAllFiles(true);
            };

            var imgUrl = "{% if speaker.portrait %}{{ speaker.portrait.url }}{% else %}{% static 'img/speaker-dummy.png' %}{% endif %}";
            var mockFile = {dataURL: imgUrl, name: "", status: Dropzone.ADDED};

            portraitDropZone.emit("addedfile", mockFile);
            portraitDropZone.createThumbnailFromUrl(mockFile);
            portraitDropZone.emit("thumbnail", mockFile, mockFile.dataURL);
            portraitDropZone.files.push(mockFile);
            portraitDropZone.emit("complete", mockFile);

        </script>
    {% endaddtoblock %}
{% endblock %}
