{% extends "devday_site.html" %}
{% load crispy_forms_tags sekizai_tags staticfiles i18n %}
{% block content_body %}
    <div class="content-area">
        <div class="row">
            <div class="col-12 col-md-8">
                {% crispy form %}
            </div>
            <div class="col-12 col-md-4">
                <div class="dropzone-buttons">
                    <button id="portrait-upload-btn"
                            class="btn btn-success fileinput-button dz-clickable">{% trans "Upload portrait image" %}</button>
                    <button id="portrait-delete-btn"
                            class="btn btn-danger cancel{% if not speaker.portrait %} d-none{% endif %}">{% trans "Delete image" %}</button>
                </div>
                <div id="previews">
                    <div id="template" class="file-row">
                        <div class="progress progress-bar-striped active"
                             role="progressbar" aria-valuemin="0"
                             aria-valuemax="100" aria-valuenow="0">
                            <div class="progress-bar progress-bar-success"
                                 style="width:0;"
                                 data-dz-uploadprogress></div>
                        </div>
                        <div>
                            <span class="preview"><img
                                    class="img-fluid"
                                    data-dz-thumbnail src=""></span>
                        </div>
                        <div class="error text-danger">
                            <strong data-dz-errormessage></strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% addtoblock "css" %}
        <style type="text/css">
            .dropzone-buttons {
                position: relative;
                height: 30px;
                padding-left: 10px;
                top: 60px;
                z-index: 10;
            }
        </style>
    {% endaddtoblock %}
    {% addtoblock "js" %}
        <script>
            $(document).ready(function () {
                const previewNode = document.querySelector("#template");
                previewNode.id = "";
                const previewTemplate = previewNode.parentElement.innerHTML;
                previewNode.parentNode.removeChild(previewNode);

                let portraitDropZone = new Dropzone(document.body, {
                    url: "{% url 'upload_user_speaker_portrait' %}",
                    thumbnailWidth: 500,
                    thumbnailHeight: 700,
                    maxFiles: 1,
                    acceptedFiles: "image/*",
                    previewTemplate: previewTemplate,
                    autoQueue: true,
                    previewsContainer: "#previews",
                    clickable: ".fileinput-button",
                    headers: {"X-CSRFToken": "{{ csrf_token }}"},
                    paramName: "portrait",
                    thumbnailMethod: "contain",
                    deleteUrl: "{% url 'delete_user_speaker_portrait' %}",
                    init: function () {
                        this.on('maxfilesexceeded', function (file) {
                            this.removeAllFiles();
                            this.addFile(file);
                        });

                        this.on('added', function (file) {
                            console.info("file " + file + " " + file.dataURL);
                        });

                        this.on('sending', function (file) {
                            document.getElementById("portrait-upload-btn").setAttribute("disabled", "disabled");
                        });

                        this.on('success', function (file) {
                            document.getElementById("portrait-delete-btn").classList.remove("d-none");
                            document.getElementById("portrait-upload-btn").removeAttribute("disabled");
                        });
                    }
                });

                function preLoad(imgUrl) {
                    var mockFile = {
                        dataURL: imgUrl,
                        name: "",
                        accepted: true,
                        status: Dropzone.ADDED
                    };

                    portraitDropZone.files.push(mockFile);
                    portraitDropZone.emit('addedfile', mockFile);
                    portraitDropZone.createThumbnailFromUrl(
                        mockFile, null, null, null, null,
                        function (thumbnail, canvas) {
                            portraitDropZone.emit('thumbnail', mockFile, thumbnail);
                        });
                    portraitDropZone._updateMaxFilesReachedClass();
                    portraitDropZone.emit('complete', mockFile);
                }

                let imgUrl = "{% if speaker.portrait %}{{ speaker.portrait.url }}{% else %}{% static 'img/speaker-dummy.png' %}{% endif %}";
                const fallbackImage = "{% static 'img/speaker-dummy.png' %}";

                preLoad(imgUrl);

                document.getElementById("portrait-delete-btn").onclick = function () {
                    jQuery.ajax(portraitDropZone.options.deleteUrl, {
                        headers: {"X-CSRFToken": "{{ csrf_token }}"},
                        method: "POST"
                    }).done(function (data) {
                        portraitDropZone.removeAllFiles(true);
                        document.getElementById("portrait-delete-btn").classList.add("d-none");
                        preLoad(fallbackImage);
                    });
                };
            });
        </script>
    {% endaddtoblock %}
{% endblock %}
